<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Counter</h1>
    <p><strong>Counter Value:</strong> {{ counter }}</p>
    <p><strong>Actual Visits:</strong> {{ actual_visits }}</p>

  
    <a href="/increment_by_2"><button>Increment by 2</button></a>
    <a href="/reset"><button>Reset Counter</button></a>
    <a href="/destroy_session"><button>Destroy Session</button></a>

    
    <form action="/set_increment" method="POST">
        <label for="increment">Set Increment:</label>
        <input type="number" id="increment" name="increment" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
