<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
        <div>
            <div>
                <h1> Ahla, {{user.first_name}}</h1>
                <h3>All posted recipes</h3>
            </div>
            <div>
                <a href="/create_recipe"> + Create</a>
                <a href="/logout">logout</a>
            </div>
        </div>
        <table>
            <thead>
                <tr>Name</tr>
                <tr>Under</tr>
                <tr>Posted By</tr>
                <tr>Action</tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    
</body>
</html>