.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #6aa84f;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.content {
  display: flex;
  width: 100%;
  gap: 10px;
}

.navigation {
  background-color: #6fa8dc;
  width: 20%;
  height: 400px;
  text-align: center;
  padding: 20px;
}

.main-content {
  background-color: #e06666;
  width: 80%;
  padding: 20px;
  
}

.subcontent-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.subcontent {
  background-color: #ffd966;
  width: 30%;
  padding: 20px;
  text-align: center;
}

.advertisement {
  background-color: #b4a7d6;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
