* {
  padding: 0 auto;
  margin: 55 auto;
  font-family: sans-serif;
  margin: 0 auto;
  justify-content: center;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:100px ; 
  justify-content: center;
  width: 80%;

}
.top{
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;

}
.h1 {

  margin-top: 20px;
}
.button {
  align-items: center;
  gap: 22px;
  display: flex;
  justify-content: center;
}
.button button {
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 21);
  color: darkolivegreen;

  color: rgb(255, 255, 255);
  font-size: 22px;
}
.button button:first-child {
  height: 50px;
  justify-content: center;
  align-items: center;


  background-color: rgb(0, 89, 255);
  color: rgb(255, 255, 255);
  font-size: 22px;
  margin-top: 35px;
}

.classbutton button :hover {
  background-color: yellow;
  font-size: 18px;
}
