.D1{
background-color: rgb(0, 0, 0);
color: #ffffff;

}
.D1 span{
    color: #1cf4eb;
}
.D2{
    background-color: #663398;
    color: #ffffff;
   text-align: center;

    }

 

.D3{
        background-color:     #9fc4f8;
     text-align: end;
}
    

    